doctype html
html(lang="cs")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title HistoryLab — Digitální dílna pro práci s historickými prameny

    block css
      <!-- inject:css -->
      link(rel="stylesheet" href="../assets/css/styles.css")
      <!-- endinject -->
      style.
        html {
          height: 100%;
        }
        body {
          min-height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        main {
          margin-bottom: 15vh;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        #logo {
          width: 10rem;
          fill: currentColor;
        }

    block js
      script(src="https://use.typekit.net/jro1rpp.js")
      script.
        try{Typekit.load({ async: true });}catch(e){}

  body#page-saved
    main
      svg#logo(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 266 266")
        path(d="M3 199a3 3 0 0 1-3-3V97a3 3 0 0 1 3-3h48a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3H18a3 3 0 0 0-3 3v69a3 3 0 0 0 3 3h91a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3z")
        path(d="M157 199a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3h91a3 3 0 0 0 3-3v-70a3 3 0 0 0-3-3h-33a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3h48a3 3 0 0 1 3 3v100a3 3 0 0 1-3 3z")
        path(d="M128.06 199a3 3 0 0 1-3-3v-22a3 3 0 0 0-3-3H70a3 3 0 0 1-3-3V70a3 3 0 0 1 3-3h126a3 3 0 0 1 3 3v98a3 3 0 0 1-3 3h-52a3 3 0 0 0-3 3v22a3 3 0 0 1-3 3zM181 156a3 3 0 0 0 3-3V85a3 3 0 0 0-3-3H85a3 3 0 0 0-3 3v68a3 3 0 0 0 3 3z")

      h1 Cvičení bylo úspěšně uloženo a&nbsp;odesláno na vyplněné emailové&nbsp;adresy.

      p.text-centered
        span.text-small Potřebujete pomoc?&nbsp;
        a.helpdesk(href="mailto:helpdesk@historylab.cz") helpdesk@historylab.cz
        span &nbsp;— Návrat na úvodní stranku&nbsp;
        a.helpdesk(href="//historylab.cz/") historylab.cz &rarr;
